<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row mx-5">
      <div class="col">
        <h2 class="dubble-line fs-2"><strong>About Our Team</strong></h2>
        <p>Our DHS Certified Trusted Tester team at Kaffeinated Kodemonkey is your dedicated partner
        for full-spectrum digital accessibility — helping businesses, SaaS platforms, governments, and educational
        institutions achieve and maintain <strong>ADA, WCAG 2.1 AA +, and Section 508 compliance</strong>.</p>

        <p>We deliver expert audits, targeted remediation, and ongoing compliance through <strong>POCC</strong> reports for private-sector
        growth and full <strong>SAR</strong> documentation for federal, state, or educational procurement.</p>

        <p>With the <a href="#" target="blank"><strong>DOJ’s Title II</strong></a> web accessibility deadline fast approaching —
        <strong>April 24, 2026</strong> for larger public entities — there’s no time for guesswork. Our team reduces
        legal and reputational risks, dramatically improves usability for every user, and unlocks new audiences and
        revenue streams through truly inclusive digital experiences.</p>

        <p>Ready to get compliant without the stress? Explore our services or reach out for a no-obligation conversation today.</p>

      </div>
      <div class="col-md-3 col-12">
        <img src="/assets/img/team/dev-team.jpg" class="img-thumbnail" width="92%" alt="Kodemonkey Team">
        <p><a href="#services" class="btn btn-lg btn-success mt-3">A11y Services</a>
        <a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="btn btn-lg btn-warning mt-3">Free Consultation</a></p>
      </div>
    </div>
  </div>
  </section>
