<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <h2>About Section</h2>
    <p>Kaffeinated Kodemonkey—your go-to partner for ADA, WCAG, and Section 508 compliance. We make sure your site hits
    federal standards and delivers truly inclusive experiences across every state. As DHS Certified Trusted Testers,
    we handle the full spectrum: audits, remediation, and ongoing proof like POCC for private/SaaS growth or full SAR
    reports for gov/edu procurement. Beat the April 2026 deadline stress—reduce risks, boost usability, and open doors to
    new revenue.</p>

    <p><a href="/About" class="btn btn-md btn-success">Who Is Kodemokey</a></p>
  </div>
  </section>
