{% assign pt = page.title %}
{% assign pcat = page.categories %}

{% if pt != "The MonkeyHub" %}
  <banner>
    <div class="row">
      <div class="col-5">
        <img src="{{site.baseurl}}{{ page.banner }}" class="img-thumbnail mb-3" width="90%" alt=" Section 508">
        <p><a href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank" class="btn btn-md btn-warning text-white" ara-label="Schedule Free A11y Consultation"><strong>Schedule Free A11y Consultation</strong></a></p>
      </div>
      <div class="col-7">
        <p class="fs-4"><strong>Don't just achieve compliance — maintain it effortlessly and turn it into a business advantage.</strong></p>
          
        <p>With the DOJ ADA Title II deadline <strong>now fully in effect</strong> for public entities serving 50,000+ people, 
        and the <strong>April 26, 2027 deadline rapidly approaching</strong> for smaller municipalities and special districts,
        the time to act is now. Kaffeinated Kodemonkey’s Accessibility Monitoring Platform keeps your digital platforms 
        <strong>ADA, WCAG 2.1/2.2 AA, and Section 508 compliant</strong> long-term — without constant stress or rework.</p>
      </div>
    </div>
  </banner>
  <hr />
{% endif %}
