{% assign pt = page.title %}
{% assign pcat = page.categories %}

{% if pt != "The MonkeyHub" %}
  <banner>
    <div class="row">
      <div class="col-5">
        <img src="{{site.baseurl}}{{ page.banner }}" class="img-thumbnail mb-3" width="90%" alt=" Section 508">
        <p><a href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank" class="btn btn-md btn-warning text-white" ara-label="Schedule Free A11y Consultation"><strong>Schedule Free A11y Consultation</strong></a></p>
      </div>
      <div class="col-7">
        <p class="fs-4">Don't just achieve compliance — maintain it effortlessly and turn it
        into a business advantage. With the <strong>April 24, 2026</strong> DOJ ADA Title II deadline fast approaching
        for public entities serving 50,000+ people (and <strong>April 26, 2027</strong> for smaller ones and special
        districts), Kaffeinated Kodemonkey’s Accessibility Monitoring Platform keeps your websites <strong>ADA, WCAG 2.1 AA,</strong>
        and <strong>Section 508 compliant</strong> long-term — without constant stress or rework.</p>


      </div>
    </div>
  </banner>
  <hr />
{% endif %}
