<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact Us</h2>

    </div>

    <div class="row">

      <div class="col-lg-5">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Rangely, CO, United States</p>
          </div>

          <div class="hours">
            <i class="bi-hourglass"></i>
            <h4>Hours:</h4>
            <p><strong>Monday–Friday:</strong> By Appointment Only<br>
            <strong>Closed Weekends and Holidays</strong></p>

          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p><strong>Office:</strong> (720) 608-1444</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p><a href="mailto:kaffeinatedkodemonkey@gmail.com?subject=Inquery">Kodemonkey</a></p>
          </div>

          <div class="booking">
            <i class="bi-calendar-event"></i>
            <p class="pt-2"><a class="btn btn-sm btn-primary" href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank">Book Consultation</a></p>
          </div>

          <img src="{{ site.baseurl }}/assets/img/Google-Maps.png" alt="Google Map of Rangely Colorado" class="img-fluid">
        </div>

      </div>

      <div class="col-lg-7 php-email-form">
        <h2>How Can We Help?</h2>
        <p>Reach out for HB21-1110 or ADA compliance support.
        Expect a response within 1-2 business days, or <a href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank">Book a Free Consultation</a>.</p>

        <small class="fs-6"><em>A field marked with an asterisk <span class="text-danger">*</span> indicates required field.</em></small>
        <hr/>
        {% include contact-form.html %}

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
