<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      <div class="col-lg-8 text-center text-lg-start">
        <h3 class="text-orange">Start Your Accessibility Journey Today</h3>
        <p class="fs-5 mt-4">Ensure your website is ADA-compliant with Kaffeinated Kodemonkey’s {{page.title}}.
        With DHS Certified Trusted Testers and Proof of Compliance Certification stay ahead of State and Local
        regulations like ADA Title II Regulayion.</p>

      </div>
      <div class="col-lg-4 mt-5 pt-3 px-4">
        <!-- <p><a href="/newsletter" class="btn btn-md btn-primary" aria-label="Join our newsletter for accessibility insights and updates">Join Our Newsletter</a></p> -->
        <p><a href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank" class="btn btn-md btn-success" aria-label="Schedule Free A11y Consultation">Schedule Free A11y Consultation</a></p>
      </div>
    </div>

  </div>
</section><!-- End Cta Section -->
