<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-start">
        <h3 class="text-orange">Ready to Build an Accessible Web? Start Here!</h3>
        <p>Transform your website into a welcoming, compliant experiance for all users. <strong>Book a consultation</strong> with our
        accessibility experts to explore tailored solutions that enhance your digital presence and ensure ADA compliance.</p>

        <p>Or, <strong>join our newsletter</strong> to stay updated on the latest accessibility trends, tips, and regulations—empowering you to
        make continuous improvements in inclusivity and reach.</p>


      </div>
      <div class="col-lg-6 mt-4 px-4">
        <p class="text-oragne"><strong>Take Action Now:</strong></p>
        <p><a href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank" class="btn btn-md btn-outline-orange text-white">Book Free Consultation</a> - SME's guidance on A11y Compliance & POCC.</p>
        <p><a class="btn btn-md btn-outline-orange text-white" href="{{ site.baseurl }}/#" rel="nofollow">Join Our Newsletter</a> - Stay up on A11y Trends, News, & Practical Tips.</p>

        <!-- <a class="btn btn-lg btn-outline-warning align-middle" href="https://kaffeinatedkodemonkey.youcanbook.me" rel="nofollow">Book Free Consultation</a> -->
      </div>
    </div>

  </div>
</section><!-- End Cta Section -->
