<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>Here is a list of most commn asked Queations. <!-- For more information you can <strong>Join Our newsletter, Checkout our ChaterRoom</strong>, or follow uour <strong>Socials</strong>-->.</p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-list-1">What is web accessibility, and why is it important?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse" aria-expanded="true" data-bs-parent=".faq-list">
            <p>Web accessibility ensures that websites are usable by everyone, including people with disabilities. It’s important because it enables equal access to digital information, improves the user experience, and helps your site comply with ADA and WCAG standards.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">What does it mean to be ADA compliant?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>ADA compliance means that your website adheres to the guidelines set by the Americans with Disabilities Act, ensuring that individuals with disabilities can access and navigate your site effectively. This includes following WCAG (Web Content Accessibility Guidelines) to meet accessibility standards.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What is the WCAG, and why should I care?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>The WCAG (Web Content Accessibility Guidelines) provides a set of standards to make web content more accessible to people with disabilities. Adhering to WCAG not only helps ensure legal compliance but also broadens your audience and boosts SEO.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What is a Proof of Compliance (POC) Certificate?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>A Proof of Compliance (POC) Certificate verifies that your website meets ADA and WCAG accessibility standards. It signals your commitment to inclusivity and reduces the risk of non-compliance.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How does accessibility impact SEO?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Accessible websites tend to rank higher in search engine results. By following accessibility best practices, you improve site structure, readability, and overall user experience—all factors that positively impact SEO.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Why should I schedule a consultation?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>A consultation allows our experts to assess your specific needs, explain how our services can help you achieve ADA compliance, and outline the benefits of an accessible, SEO-optimized website.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">What industries do you serve?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>We specialize in accessibility solutions for various industries, including government, education, and private sectors. Our services are tailored to meet the unique requirements of each client.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">How do I get started?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>To begin, you can either book a consultation to discuss your goals, join our newsletter, pop into the ChatterRoom for valuable insights and updates on web accessibility.</p>
          </div>
        </li>

        <!--<li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">What are the common challenges in achieving web accessibility?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Challenges include outdated technology, lack of awareness, and insufficient training. Overcoming these hurdles requires a commitment to education and ongoing improvement.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-10" class="collapsed">What resources are available for learning more about web accessibility?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Numerous online resources, including the Web Content Accessibility Guidelines (WCAG) and organizations like W3C and WebAIM, provide comprehensive information and guidance on web accessibility best practices.</p>

            <p>These FAQs can serve as a foundation for a detailed and informative blog on web accessibility, offering valuable insights and guidance for developers, designers, and businesses aiming to create inclusive online experiences.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-11" class="collapsed">What are WCAG POUR Principles?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-11" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>WCAG POUR Principles represent a set of guiding principles established by the Web Content Accessibility Guidelines (WCAG) to ensure that web content is accessible to people with disabilities. The term "POUR" stands for Perceivable, Operable, Understandable, and Robust – key attributes that contribute to a more inclusive online experience.</p>
            <dl>
              <dt>Perceivable:</dt>
              <dd>Information and user interface components must be presented in ways that users can perceive. This involves providing text alternatives for non-text content, making content adaptable, and offering alternatives for time-based media.</dd>

              <dt>Operable:</dt>
              <dd>Users should be able to interact with and navigate the website. This principle emphasizes keyboard accessibility, providing sufficient time for users to read and complete tasks, avoiding content that could potentially cause seizures or physical discomfort, and designing navigation that is intuitive and straightforward.</dd>

              <dt>Understandable:</dt>
              <dd>Information and operation of the user interface must be clear and straightforward. This principle involves creating legible and readable text, designing consistent and predictable navigation and functionality, and input assistance to help users avoid and correct errors.</dd>

              <dt>Robust:</dt>
              <dd>Content must be robust enough to be reliably interpreted by a wide variety of user agents, including assistive technologies. This principle involves using valid and well-formed code, ensuring compatibility with current and future technologies, and providing fallback mechanisms for when technologies are not supported.</dd>
            </dl>

            <p>Adhering to these POUR Principles ensures that websites are not only accessible to individuals with disabilities but also provide a better user experience for everyone, regardless of their abilities or disabilities.</p>
          </div>
        </li> -->
      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
