<footer id="footer">
  <div class="footer-top bg-light text-dark">
    <div class="container-full">
      <!-- top row -->
      <div class="row">
        <!-- left column -->
        <div class="col-12 col-md-3 footer-contact ms-3">
          <img src="{{ site.baseurl }}/assets/img/KKM-Banner.png"
            alt="Kaffeinated Kodemonkey: Digital Accessibility and Compliance Experts" width="75%"
            class="img-thumbnail img-fluid mt-1" />

          <hr />

          <p class="mb-2"><i class="bi bi-telephone" aria-hidden="true"></i> <strong>Calls by Appointment Only</strong>
          </p>

          <p class="mb-2"><i class="bi bi-hourglass" aria-hidden="true"></i> <strong>Closed Weekends &amp;
              Holidays</strong></p>

          <p class="mb-2">All inquiries submitted via email will be <br />
            responded to within 24-48 business hours.</p>
        </div>
        <!-- center column -->
        <div class="col footer-contact mt-4">
          <div class="row">
            <!-- Services -->
            <div class="col-12 col-md-4 ps-4">
              <h3 class="fs-5">Services</h3>
              <hr />
              <ul class="list-unstyled">
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/Services/Web-Accessibility-Audits">Web Accessibility Audits</a></li>
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/Services/Accessibility-Monitoring">Accessibility Monitoring</a></li>
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/Services/Accessibility-WebDesign">Accessible Web Design</a></li>
              </ul>
            </div>
            <!-- Policies -->
            <div class="col-12 col-md-4 ps-4">
              <h3 class="fs-5">Policies</h3>
              <hr />
              <ul class="list-unstyled">
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/A11y-Policy/TOS">Terms of Service</a></li>
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/A11y-Policy/Disclaimer">Disclaimer</a></li>
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/A11y-Policy/Privacy-Policy">Privacy Policy</a></li>
              </ul>
            </div>
            <!-- ADA Compliance -->
            <div class="col-12 col-md-4 ps-4">
              <h3 class="fs-5">ADA Compliance</h3>
              <hr />
              <ul class="list-unstyled mb-4">
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/A11y-Policy/ADA-Compliance">ADA Compliance</a></li>
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/A11y-Policy/A11y-Statement">Accessibility Statement</a></li>
                <li><i class="bx bx-chevron-right" aria-hidden="true"></i> <a
                    href="{{ site.baseurl }}/A11y-Policy/WCAG-Report">WCAG Report</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- right column -->
        <div class="col-12 col-md-3 footer-contact mt-4">
          <h3 class="fs-5 ms-3">Mission Statement</h3>
          <hr />
          <p class="ms-3 pb-0">Kaffeinated Kodemonkey is dedicated to ensuring digital content is universally accessible
            by helping businesses, governments, and educational institutions achieve and maintain long-term ADA
            compliance for their websites and applications.</p>
        </div>
      </div>

      <hr />

      <!-- bottom Row -->
      <div class="row ms-3">
        <!-- left column -->
        <div class="col-12 col-md-3 footer-contact ms-3 mt-4">
          <h4>Memberships &amp; Badges</h4>
          <img src="{{ site.baseurl }}/assets/img/professional-member.png"
            alt="International Association of Accessibility Professionals (IAAP) Professional Member Seal" width="10%"
            class="img-fluid mt-2" />
          <img src="{{ site.baseurl }}/assets/img/POCC-Seal.png"
            alt="Kaffeinated Kodemonkey Verified Proof of Compliance Certificate (POCC) Digital Site Seal" width="12%"
            class="img-fluid ms-4 mt-1" />
          <img src="{{ site.baseurl }}/assets/img/TT-Certificate.png"
            alt="DHS Certified Trusted Tester Certification Badge" width="16%" class="img-fluid ms-4" />
        </div>
        <!-- center column -->
        <div class="col footer-contact text-center mt-4">
          <h4>Fueling Our Team's Focus</h4>
          <p>At Kaffeinated Kodemonkey, we stay sharp for your audits with balanced energy—powered by <br />
            <a href="https://mudwtr.com/?rfsn=5657995.6e61db9.91385" target="_blank" rel="noopener">MUD\WTR</a>, our
            go-to coffee
            alternative for sustained focus without the crash.
          </p>
        </div>
        <!-- right column -->
        <div class="col-12 col-md-3 footer-contact ms-5 mt-4">
          <h4>Our Social Networks</h4>
          <div class="social-links">
            <a href="{{ site.twitter }}" title="Follow Kaffeinated Kodemonkey on Twitter" target="_blank"
              rel="noopener"><i class="bi bi-twitter" aria-hidden="true"></i><span
                class="visually-hidden">Twitter</span></a>
            <a href="{{ site.github }}" title="View Kaffeinated Kodemonkey Open Source Repositories on GitHub"
              target="_blank" rel="noopener"><i class="bi bi-github" aria-hidden="true"></i><span
                class="visually-hidden">GitHub</span></a>
            <a href="{{ site.linkedIn }}" title="Connect with Kaffeinated Kodemonkey on LinkedIn" target="_blank"
              rel="noopener"><i class="bi bi-linkedin" aria-hidden="true"></i><span
                class="visually-hidden">LinkedIn</span></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>