<footer id="footer">
  <div class="footer-top bg-light text-dark">
    <div class="container-full">
      <!-- top row -->
      <div class="row">
        <!-- left column -->
        <div class="col-3 footer-contact ms-3 mt-4">
          <img src="{{ site.baseurl }}/assets/img/KKM-Banner.png" alt="kaffeinated kodemonkey" width="75%" class="img-thumbnail img-fluid"/>

          <hr />

          <p class="mb-2"><i class="bi bi-telephone"></i> <strong>Calls by Appointment Only</strong></p>

          <p class="mb-2"><i class="bi bi-hourglass"></i> <strong>Closed Weekends & Holidays</strong></p>

          <p class="mb-2">All inquiries submitted via email will be <br />
          responded to within 24-48 businesses hours.</p>

          <div class="booking">
            <p><a href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank" class="btn btn-lg btn-primary" rel="nofollow">Book Free Consultation</a><?p>
          </div>
        </div>
        <!-- center column -->
        <div class="col footer-contact mt-5">
          <div class="row">
            <!-- Servicers -->
            <div class="col">
              <h3 class="fs-5">Services</h3>
              <hr />
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/Services/POCC">Proof of Compliace Certificate</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/Services/Accessibility-Monitoring">Accessibility Monitoring</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/Services/POUR-WebDesign">POUR Web Design</a></li>
              </ul>
            </div>
            <!-- Policies -->
            <div class="col">
              <h3 class="fs-5">Policies</h3>
              <hr />
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/A11y-Policy/TOS">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/A11y-Policy/Disclaimer">Disclaimer</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/A11y-Policy/Privacy-Policy">Privacy policy</a></li>
              </ul>

            </div>
            <!-- ADA Compliance -->
            <div class="col">
              <h3 class="fs-5">ADA Compliance</h3>
              <hr />
              <ul class="mb-4">
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/A11y-Policy/ADA-Compliance">ADA Compliace</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/A11y-Policy/A11y-Statement">A11y Statement</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/A11y-Policy/WCAG-Report">WCAG -Report</a></li>
                <!--<li><i class="bx bx-chevron-right"></i> <a href="{{ site.baseurl }}/A11y-Compliance-Report.pdf" download>A11y Compliant Report <i class="bi bi-arrow-down"></i></a></li>-->
              </ul>

            </div>
          </div>
        </div>
        <!-- right column -->
        <div class="col-3 footer-contact mt-5">
          <h3 class="fs-5">Mission Statement</h3>
          <hr/>
          <p class="mb- pb-0">Kaffeinated Kodemonkey is dedicated to ensuring digital accessibility by helping businesses
          achieve and maintain ADA compliance for their websites and applications.</p>
        </div>
      </div>

      <hr />

      <!-- bottom Row -->
      <div class="row">
        <!-- left column -->
        <div class="col-3 footer-contact ms-3 mt-4">
          <h4>Memberships & Badges</h4>
          <img src="{{ site.baseurl }}/assets/img/professional-member.png" alt="IAAP Membership" width="10%" class="img-fluid mt-2"/>
          <img src="{{ site.baseurl }}/assets/img/POCC-Seal.png" alt="POCC Seal" width="12%" class="img-fluid ms-4 mt-1"/>
          <img src="{{ site.baseurl }}/assets/img/TT-Certificate.png" alt="Section 508" width="16%" class="img-fluid ms-4"/>
        </div>
        <!-- center column -->
        <div class="col footer-contact text-center mt-4">
          <h4>Fueling Our Team's Focus</h4>
          <p>At Kaffeinated Kodemonkey, we stay sharp for your audits with balanced energy—powered by <br />
          <a href="https://mudwtr.com/?rfsn=5657995.6e61db9.91385" target="_blank">Mud\Wtr</a>, our go-to coffee
          alternative for sustained focus without the crash.</p>
        </div>
        <!-- right column -->
        <div class="col-3 footer-contact ms-5 mt-4">
          <h4>Our Social Networks</h4>

          <div class="social-links">
            <!--<a href="{{ site.slack }}"><i class="bi bi-slack"></i></a>
            <a href="{{ site.facebook }}"><i class="bi bi-facebook"></i></a> -->
            <a href="{{ site.twitter }}" title="Twitter" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="{{ site.github}}" title="Github" target="_blank"><i class="bi bi-github"></i></a>
            <a href="{{ site.linkedIn}}" title="LinkedIn" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
