<header id="header" class="fixed-top header-inner-pages">
  <a href="{{ site.baseurl }}/#about" class="skip">Skip to main content</a>

  <div class="container d-flex align-items-center">

    <!-- <h1><a href="index.html">{{ site.title }}</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <p class="mt-3"><a href="{{site.url}}" class="img-thumbnail inf-fluid logo me-auto"><img src="{{ site.baseurl }}/assets/img/KKM-Banner.png" alt="Kaffeinated Kodemonkey" class="img-fluid"></a></p>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="{{ site.baseurl }}/#services">Services</a></li>
        <!-- <li><a class="nav-link scrollto {% if page.title == 'MonkeyHub' %} active {% endif %}" href="{{ site.baseurl }}/MonkeyHub">MonkeyHub</a></li> -->
        <li><a class="nav-link" href="{{ site.baseurl }}/#faq">FAQ</a></li>
        <li><a class="nav-link scrollto {% if page.title == 'MonkeyHub' %} active {% endif %}" href="/MonkeyHub/">MonkeyHub</a></li>
        <li><a class="nav-link {% if page.title == 'About' %} active {% endif %}" href="/About/">About</a></li>
        <li><a class="nav-link" href="{{ site.baseurl }}/#contact">Contact Us</a></li>
        <!-- <li><a class="nav-link scrollto" href="https://caffeinatedcodemonkey.com/client-tracking" target="_blank" rel="nofollow">Client Support</a></li> -->
        <li class="ms-5 me-5"><a class="nav-link btn btn-outline-orange text-white pe-4" href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank" rel="nofollow">Book Free Consultation</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
