<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1 class="fs-3 text-warning mb-0">Web Accessibility & ADA Compliance</h1>
        <h2 class="fs-5 text-white text-opacity-75 mt-0 mb-3"><em>Partnering with Government, Education, and Businesses</em></h2>
        <p class="fs-5 text-white">Avoid fines of $3K+ per violation by teaming up with Kaffeinated Kodemonkey. Our DHS
        Certified Trusted Testers get you compliant with ADA, WCAG, and Section 508 standards through a hands-on Web A11y
        Audit (WAA) and Proof of Compliance Certificate (POCC). It's your shield against lawsuits, plus it unlocks better
        user experiences for everyone—especially with the April 2026 ADA Title II deadline looming for state/local gov and
        public accommodations.</p>
        <div class="row">
          <table class="table table-light text-center rounded-1 border border-warning-subtle">
            <tr>
              <th colspan="3" class="fs-3"><strong>Business Case for Digital Accessibility</strong></th>
            </tr>
            <tr>
              <td><strong>2.3B People</strong><br/> Globally are Considered disabled</td>
              <td><strong>$6.9 Trillion</strong><br />In Annual disposable income</td>
              <td><strong>Legal risk</strong><br />Lawsuits over digital content are skyrocketing</td>
            </tr>
          </table>
        </div>

        <div class="row">
          <div class="col">
            <p class="fs-5 text-white">Talk to a SME for your POCC or SAR needs<br />whether you're in private sector, gov, or edu.</p>
          </div>
          <div class="col-5 pt-2">
            <p><a href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank" class="btn btn-lg btn-success" aria-label="Book a free consultation">Book Free Consultation</a> </p>
          </div>
        </div>
      </div>
      <div class="col order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <!--<img src="{{site.baseurl}}/assets/img/KKM-Logo-sm.png" width="50%" class="ms-5 img-fluid animated" alt="Kaffeinated Kodemonkey logo: a monkey holding a coffee cup with an accessibility icon">
        <div class="d-flex justify-content-center justify-content-lg-start mt-5 mx-5">
           <a href="{{site.baseurl}}/W3C-Accessibility-Video.html" class="glightbox btn-watch-video" rel="nofollow">
            <i class="bi bi-play-circle"></i><span>Watch Video</span>
          </a> -->

          <img src="{{site.baseurl}}/assets/img/business_case_for_digital_accessibility.png" class="ms-5 img-fluid img-thumbnail animated" alt="Infograph">

        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
