<form action="https://kaffeinatedkodemonkey.com/suport/api/tickets.json" method="post" class="mt-5">
  <div class="row mb-3">
    <label for="cname" class="col-sm-2 col-form-label" requires><span class="text-danger">* </span>Company Name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="cname">
    </div>
  </div>
  <div class="row mb-3">
    <label for="fname" class="col-sm-2 col-form-label" requires><span class="text-danger">* </span>First Name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fname">
    </div>
  </div>
  <div class="row mb-3">
    <label for="lname" class="col-sm-2 col-form-label" requires><span class="text-danger">* </span>Last Name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="lname">
    </div>
  </div>

  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label" requires><span class="text-danger">* </span>Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Join Newsletter</button>
</form>
