<div id="mc_embed_shell">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>

  <div id="mc_embed_signup">
    <form action="https://kaffeinatedkodemonkey.us10.list-manage.com/subscribe/post?u=946020d51fa2e85718e5cd3aa&amp;id=e9906a29f7&amp;f_id=007246e4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <label for="mce-FN">First Name </label>
          <input type="text" name="FN" class=" text" id="mce-FN" value="">
        </div>
        <div class="mc-field-group">
          <label for="mce-LN">Last Name </label>
          <input type="text" name="LN" class=" text" id="mce-LN" value="">
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
        </div>
        <div class="mc-field-group">
          <label for="mce-PN">Phone Number </label>
          <div class="phonefield phonefield-us">
            (<span class="phonearea"><input class="phonepart REQ_CSS" pattern="[0-9]*" id="mce-PN-area" name="PN[area]" maxlength="3" size="3" type="text" value=""></span>)
            <span class="phonedetail1"><input class="phonepart REQ_CSS" pattern="[0-9]*" id="mce-PN-detail1" name="PN[detail1]" maxlength="3" size="3" type="text" value=""></span>
            -<span class="phonedetail2"><input class="phonepart REQ_CSS" pattern="[0-9]*" id="mce-PN-detail2" name="PN[detail2]" maxlength="4" size="4" type="text" value=""></span>
            <span class="small-meta nowrap">(###) ###-####</span>
          </div>
        </div>
        <div class="mc-field-group">
          <label for="mce-MES">Message </label>
          <input type="text" name="MES" class=" text" id="mce-MES" value="">
        </div>
        <div class="mc-field-group">
          <label for="mce-SER">Services </label>
          <select name="SER" class="" id="mce-SER">
            <option value=""></option>
            <option value="POCC/VPAT">POCC/VPAT</option>
            <option value="A11y Monitoring">A11y Monitoring</option>
            <option value="POUR Web Design">POUR Web Design</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display: none;"></div>
          <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
          <input type="text" name="b_946020d51fa2e85718e5cd3aa_e9906a29f7" tabindex="-1" value="">
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Submit">
            <!-- <p style="margin: 0px auto;"><a href="http://eepurl.com/joSXk2" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p> -->
          </div>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FN';ftypes[1]='text';fnames[2]='LN';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='PN';ftypes[3]='phone';fnames[4]='MES';ftypes[4]='text';fnames[5]='SER';ftypes[5]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
