<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Complete Services</h2>
      <p>Kaffeinated Kodemonkey—your trusted partner for ADA, <strong><em>Web Content Accessibility Guidelines</em></strong>,
      and <strong><em>Section 508 compliance</em></strong> .
      Ensure your website meets federal ada standards and provides an inclusive user experience across all states.
      Our <strong><em>DHS Certified Trusted Tester</em></strong> team delivers comprehensive solutions
      to achieve and maintain requirements reducing risks and enhancing usability
      for all <strong><em>digital accessibility</em></strong>.</p>

      <h3 class="dubble-line text-secondary text-center mt-3">Which Service Fits Your Needs?</h3>
      <!--<p class="text-center mt-4"><a href="https://kaffeinatedkodemonkey.youcanbook.me" class="btn btn-lg btn-outline-primary">Book Free Consultation</a></p>-->
    </div>

    <div class="row">
      <!-- POC Cert -->
      <div class="col-4" >
        <div class="card" style="width: 25rem;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><i class="bi bi-award"></i> <a href="{{site.baseurl}}/Services/Web-Accessibility-Audits/">Web Accessibility Audit</a></h5>
            <hr />

            <p class="card-text">Ensuring ADA requirements for WCAG & Section 508 Compliance.</p>
            <ul class="text-start">
              <li>Full A11y Audit</li>
              <li>VPAT for RFPs</li>
              <li>Disability Impact Score</li>
              <li>POCC with Detailed Reports</li>
              <br/>
            </ul>
            <a href="/Services/Web-Accessibility-Audits/" class="btn btn-warning mt-auto col-8" aria-label="Learn about Proof of Compliance Certificate (POCC)">Web A11y Audits</a>
          </div>
        </div>
      </div>
      <!-- Al11y Monitoring -->
      <div class="col-4">
        <div class="card" style="width: 25rem;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><i class="bi bi-tv"></i> <a href="{{site.baseurl}}/Services/Accessibility-Monitoring">A11y Monitoring + POCC</a></h5>
            <hr />

            <p class="card-text">Your team can manage compliance with our A11y platform powered by <strong><em>WAVE</em></strong>.</p>
            <ul class="text-start">
              <li>Quarterly POCC w/Detailed Reports</li>
              <li>Automated & Manual Testing</li>
              <li>A11y Training</li>
              <li>LMS Integration For Canvas</li>
              <li>Support & Training</li>
            </ul>
            <a href="/Services/Accessibility-Monitoring" class="btn btn-warning mt-auto col-8" aria-label="Accessibility Monitoring">Accessibility Monitoring</a>
          </div>
        </div>
      </div>
      <!-- POUR Web Design -->
      <div class="col-4">
        <div class="card" style="width: 25rem;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><i class="bi bi-browser-safari"></i> <a href="{{site.baseurl}}/Services/Accessibility-WebDesign">Accessible Web Design</a></h5>
            <hr />
            <p class="card-text">Build ADA Compliant websites optimized for SEO and mobile-first.</p>
            <ul class="text-start">
              <li>POUR Web Design</li>
              <li>Hosting & Domain Name</li>
              <li>Custom Development or CMS</li>
              <li>On-Page SEO with Moz Local</li>
              <li>POCC with Detailed Reports</li>
            </ul>
            <a href="/Services/Accessibility-WebDesign" class="btn btn-warning mt-auto col-8" aria-label="Learn about Accessibility Web Design">A11y Web Design</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->
