{% if page.category != "empty %}

  <div class="row">
    <div class="col">
      {% if page.category == 'Services' %}
        <h3>A11y Services</h3>
        <ul class="ms-2">
          <li><a href="{{site.url}}/VPAT-Audit.html" {% if page.title == "VPAT Audit" %} class="isDisabled" {% endif %}>VPAT Audit</a></li>
          <li><a href="{{site.url}}/POC-Certificate" {% if page.title == "POC Certificate" %} class="isDisabled" {% endif %}>POC Certificate</a></li>
          <li><a href="{{site.url}}/A11y-Monitoring.html" {% if page.title == "A11y Monitoring" %} class="isDisabled" {% endif %}>A11y Monitoring</a></li>
          <li><a href="{{site.url}}/POUR-WebDesign.html" {% if page.title == "POUR Web Design" %} class="isDisabled" {% endif %}>POUR Website Design</a></li>
        </ul>
      {% elsif page.category == 'Policies' %}
        <ul class="ms-2">
          <!-- <li><a href="{{site.url}}/Accessibility.html" {% if page.title == "Accessibility" %} class="isDisabled" {% endif %}>A11y Compliance</a></li> -->
          <li><a href="{{site.url}}/TOS.html" {% if page.title == "TOS" %} class="isDisabled" {% endif %}>Terms of Service</a></li>
          <li><a href="{{site.url}}/Privacy-Policy.html" {% if page.title == "Privacy Policy" %} class="isDisabled" {% endif %}>Privacy Policy</a></li>
          <li><a href="{{site.url}}/Disclaimer.html" {% if page.title == "Disclaimer" %} class="isDisabled" {% endif %}>Disclaimer</a></li>
        </ul>
      {% elsif page.category == 'KKM-POCC' %}
        <ul>
          <li><a href="{{site.url}}/A11y-Compliance Overview.html" {% if page.title == "A11y Compliance Overview" %} class="isDisabled" {% endif %}>A11y Compliance Overview</a></li>
          <li><a href="{{site.url}}/A11y-Statement.html" {% if page.title == "A11y Statement" %} class="isDisabled" {% endif %}>A11y Statement</a></li>
          <li><a href="{{site.url}}/AEA-Report.html" {% if page.title == "AEA - Report" %} class="isDisabled" {% endif %}>AEA -  Report</a></li>
          <li><a href="{{site.url}}/A11y-Conformance-Report.html" {% if page.title == "A11y Conformance Report" %} class="isDisabled" {% endif %}>A11y Conformance Report</a></li>
        </ul>
      {% elsif page.category == 'ChatterRoom' %}
        <ul>
          {% assign categories_list = site.categories %}
          {% for category in categories_list %}
            <li><a href="{{ category[0] | camelcase | url_escape | strip | replace: '-', '_' }}/Week1">{{ category[0] | camelcase }} ({{ category[1].size }})</a></li>
          {% endfor %}
          {% assign categories_list = nil %}
        </ul>
      {% endif %}
    </div>
  </div>

  <hr>
{% endif %}
