
{% assign url = page.url %}
{% assign pcat = page.categories %}
<!--<h2>{{pcat}}</h2>-->

<ul>
  {% if pcat == "Monkeyroom" %}
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}

      <h3 class="fs-4">{{ category_name }}</h3>
      <!--<a name="{{ category_name | slugize }}">...</a>-->
      <ul class="fs-5">
      {% for post in site.categories[category_name] reversed %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">Post {{ forloop.index }}: {{post.title}} </a></li>
      {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    {% for page in site.pages %}
      {% if page.categories contains pcat %}
        <li><a href="{{site.baseurl}}{{page.url}}" {% if page.url == url %} class="isDisabled" {% endif %}>{{page.title}}</a></li>
      {% endif %}
    {% endfor %}
  {% endif %}
</ul>
