<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <figure class="text-center">
        <blockquote class="blockquote">
          <h3>Client Success Stories</h3>
          <p>Kaffeinated Kodemonkey's POCC secured our HB21-1110 compliance and helped win a state contract—our RFP success rate jumped 25%.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
         Arapahoe County Emergency 911 Administrator
        </figcaption>
      </figure>
    </div>
    <div class="carousel-item">
      <figure class="text-center">
        <blockquote class="blockquote">
          <h3>Client Success Stories</h3>
          <p>The POCC audit identified key fixes, avoiding ADA risks and improving our SEO for more government inquiries.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
         – Rio Blanco Water Conservancy District
        </figcaption>
      </figure>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
