<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
        <h2><strong><em>What is a POC Certificate?</em></strong></h2>

        <p>The <strong>Proof of Compliance (POC) Certificate</strong> from Kaffeinated Kodemonkey is a trusted verification that your
        website meets essential <strong>WCAG</strong> and <strong>Section 508 standards</strong>, proving that your digital content is accessible to people
        with disabilities. This certification reflects your commitment to accessibility and inclusive design, helping businesses, educational
        institutions, and government agencies demonstrate their dedication to equal access.</p>

        <p>Displaying a POC Certificate on your website offers more than just legal compliance. It communicates a proactive stance on inclusivity and
        best practices in accessibility, reassuring visitors, clients, and stakeholders of your organization’s commitment to digital accessibility.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
        <p><strong>Benefits of the POC Certificate</strong></p>
        <ul>
          <li><strong>Builds Trust and Credibility:</strong> The POC Certificate signals your dedication to accessibility, enhancing brand trust and credibility among users and clients.</li>
          <li><strong>Reduces Legal Risks:</strong> Meeting ADA and WCAG compliance helps safeguard your organization from potential legal issues.</li>
          <li>Reduces Legal Risks:<strong>Reduces Legal Risks:</strong> Accessible websites are better optimized for search engines, which can boost your search rankings and increase visibility for a wider audience.</li>
          <li><strong>Demonstrates Inclusivity:</strong> Showcasing a POC Certificate reinforces your commitment to equal access, creating a positive, inclusive brand image.</li>
        </ul>

      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">
        &nbsp;
        <!-- <p class="text-center align-bottom"><a href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank" class="btn btn-md btn-outline-warning">Booking Free Consultation</a></p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>A POC Certificate is an essential asset for any organization focused on accessible web design and compliance. By partnering with
        <strong>Kaffeinated Kodemonkey,</strong> you can achieve ADA and WCAG compliance, enhance your brand’s reputation, and make strides
        toward a more inclusive digital environment.</p>

        <p><a href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank"  class="btn btn-md btn-outline-primary">Book Free Consultation</a></p>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->
