<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>

  {% include header.html %}

  <main id="main">

    {% include breadcrumbs.html %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 bg-white-subtle px-4 py-4">
          <figure>
              <img src="{{site.baseurl}}/assets/img/KKM-Logo-sm.png" alt="Kaffeinated Kodemonkey" width="65%" class="img-thumbnail mb-3"/>
              <figcaption>
                <!-- <h3>Owner | A11y Dev</h3> -->

                <h2 class="text-orange">{{page.title}}</h2>
                <h3 class="fs-5 text-secondary">Kaffeinated Kodemonkey</h3>
                <p class="text-secondary fs-6"><strong>DHS Certified Trusted Tester</strong>
              </figcaption>
          </figure>

          {% include sidebar-left.html %}

          {% include affiliates.html %}

        </div>
        <div class="col-lg-8 my-4 ms-3 fs-5">
          <h2 class="mb-3">{{ page.subtitle }}</h2>
          <h3 class="fs-6 text-secondary"><em>{{ site.title }} | DHS Certified Trustd Tester</em></h3>

          <hr />
          
          {% include banner.html %}

          {{ content }}



        </div>
      </div>
    </div>

   <!-- ======= Cta Section ======= -->

   {% include cta.html %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include footer.html %}

</body>

</html>
